name: Rust Build and Release

on:
  push:
    branches: [ "master" ]
    tags:
      - "*.*.*"

  pull_request:
    branches: [ "master" ]  

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04
            artifact_suffix: x86_64
          - runner: ubuntu-24.04-arm
            artifact_suffix: arm64
    
    runs-on: ${{ matrix.runner }}
    
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      
      - name: Install Dependencies
        run: cargo install cargo-deb --verbose
      
      - name: Build Release
        run: cargo build --release --verbose
      
      - name: Pack deb
        run: |
          cargo deb
          mv target/debian/*.deb target/debian/tuack-ng-linux-${{ matrix.artifact_suffix }}.deb
      
      - name: Upload deb
        uses: actions/upload-artifact@v4
        with:
          name: output-linux-deb-${{ matrix.artifact_suffix }}
          path: target/debian/*.deb
      
      - name: Pack zip
        run: |
          mkdir -p pack/
          cp "target/release/tuack-ng" "pack/tuack-ng"
          cp -r "assets/" "pack/assets/"
          cd pack/
          zip -r "tuack-ng-linux-${{ matrix.artifact_suffix }}.zip" .
          cd ..
      
      - name: Upload zip
        uses: actions/upload-artifact@v4
        with:
          name: output-linux-zip-${{ matrix.artifact_suffix }}
          path: pack/tuack-ng-linux-${{ matrix.artifact_suffix }}.zip

  upload-doc:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    steps:
    - uses: actions/checkout@v6
    - name: Upload Release doc
      uses: actions/upload-artifact@v4
      with: 
        name: release-docs
        path: doc/changelog/${{ github.event.inputs.tag || github.ref_name }}.md

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            artifact_suffix: x86_64
          - target: i686-pc-windows-msvc
            artifact_suffix: x86
    
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    
    - name: Install Rust (Windows)
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        target: ${{ matrix.target }}
    
    - name: Build Release (Windows)
      run: cargo build --release --target ${{ matrix.target }} --verbose
    
    - name: Pack
      run: |
        New-Item -ItemType Directory -Force -Path pack/
        Copy-Item "target/${{ matrix.target }}/release/tuack-ng.exe" "pack/tuack-ng.exe" -Force
        Copy-Item "assets/" "pack/assets/" -Recurse -Force
        Compress-Archive -Path "pack/*" -DestinationPath "pack/tuack-ng-windows-${{ matrix.artifact_suffix }}.zip" -Force

    - name: Upload Windows binaries
      uses: actions/upload-artifact@v4
      with:
        name: output-windows-${{ matrix.artifact_suffix }}
        path: pack/tuack-ng-windows-${{ matrix.artifact_suffix }}.zip
        
  release:
    needs: [build-linux, build-windows, upload-doc]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
  
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        path: .
    
    - name: Display structure of downloaded files
      run: ls -R .

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.inputs.tag || github.ref_name }}
        draft: true
        files: |
          ./output-linux-deb-*/*.deb
          ./output-linux-zip-*/*.zip
          ./output-windows-*/*.zip
        body_path: ./release-docs/${{ github.event.inputs.tag || github.ref_name }}.md
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
