name: Rust Check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Install Dependencies
      run:  cargo install cargo-aur cargo-deb --verbose
    - name: Build Release
      run: cargo build --release --verbose
    - name: Upload bin
      uses: actions/upload-artifact@v4
      with:
        name: output-bin
        path: target/release/tuack-ng
    - name: Pack deb
      run: cargo deb
    - name: Upload deb
      uses: actions/upload-artifact@v4
      with:
        name: output-deb
        path: target/debian/*.deb
    - name: Pack aur
      run: cargo aur
    - name: Upload aur
      uses: actions/upload-artifact@v4
      with:
        name: output-aur
        path: target/cargo-aur/*.tar.gz
    