name: Rust Build and Release

on:
  push:
    branches: [ "master" ]
    tags:
      - "*.*.*"

  pull_request:
    branches: [ "master" ]  

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Install Dependencies
      run:  cargo install cargo-aur cargo-deb --verbose
    - name: Build Release
      run: cargo build --release --verbose
    - name: Upload bin
      uses: actions/upload-artifact@v4
      with:
        name: output-bin
        path: target/release/tuack-ng
    - name: Pack deb
      run: cargo deb
    - name: Upload deb
      uses: actions/upload-artifact@v4
      with:

        name: output-deb
        path: target/debian/*.deb
    - name: Pack aur
      run: cargo aur
    - name: Upload aur
      uses: actions/upload-artifact@v4
      with:
        name: output-aur
        path: target/cargo-aur/*.tar.gz
    - name: Upload Release doc
      if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
      uses: actions/upload-artifact@v4
      with: 
        name: release-docs
        path: doc/changelog/${{ github.event.inputs.tag || github.ref_name }}.md

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
  
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        path: .
    
    - name: Display structure of downloaded files
      run: ls -R .

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.inputs.tag || github.ref_name }}
        draft: true
        files: |
          ./output-aur/*.tar.gz
          ./output-deb/*.deb
        body_path: ./release-docs/${{ github.event.inputs.tag || github.ref_name }}.md
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
